body {
    margin: 0;
    padding: 0;
}

table {
    width: 50%;
    border-spacing: 0;
}

.name-cell {
    width: 15%;
}

.category-cell {
    width: 15%;
    text-align: center;
}

.url-cell {
    width: 70%;
    text-align: center;
}