<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Rememberbrall Entries</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" type="text/css"/>
  </head>

  <body>
    <h2>Rememberbrall entries thymeleaf demo</h2>
        <!--/*@thymesVar id="entries" type="de.rememberbrall.Entry[]"*/-->
          <span th:text="${entries}" />
    <table>
      <thead>
        <tr>
          <th>Entry</th>
          <th>Category</th>
          <th>Url</th>
        </tr>
      </thead>
      <tbody th:remove="all-but-first">
        <tr th:text="${entries}">
          <!--<td th:text="${entry.name}">Example-Entry</td>-->
          <!--<td th:text="${entry.category}">CAT</td>-->
          <!--<td th:text="${entry.url}">http://blub.com</td>-->
        </tr>
      </tbody>
    </table>
  </body>

</html>